<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/kelolaAkun.css">
    <title>Kelola Akun</title>
</head>
<body>

    <header>
        <%- include('./layout/head.ejs') %>
    </header>
                        <!-- bagian modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-container">
          <form action="/kelolaAkunLanjutan" method="post">
              <fieldset>
                  <h3>Masukan username akun yang ingin diganti</h3>
                  <input type="text" class="akunDiganti" name="akunGanti">
                  <label for="">Change Name</label>
                  <input type="text" class="gantiNama" name="gantiNama">
                  <label for="">Change numberID</label>
                  <input type="text" class="gantiNoDosen" name="gantiNoDosen">
                  <label for="">Change username</label>
                  <input type="text" class="gantiUsername" name="gantiUsername">
                  <label for="">Change password</label>
                  <input type="text" class="gantiPassword" name="gantiPassword">
                  <input type="submit" id="gantiNama" value="submit">
              </fieldset>
          </form>
      </div>
      <span class="close">&times;</span>
    </div>
  
  </div>
    <div class="kelolaAkunContainer">
        <div class="kelolaAkunTop">
            <a href="http://localhost:8080/homeAdmin">
                <img src="assets/images/leftArrow.png" alt="">
            </a>
            <h3 class="judulKelola">Kelola Akun</h3>

            <div class="editAkunButton">
                <button id="myBtn">Edit Akun</button>
            </div>
            
                <div class="containerButton">
                    <form action="/addUserPage" class="submitEdit" method="post">
                        <input type="submit" id="buttonEdit" value="Add User">
                    </form>
                </div>

        </div>

        <br>

        <div class="kelolaAkunMain">
                <div class="innerMain">
                    <% results.forEach(entry => {  %>
                    <div class="wrapper" href="">
                        <div class="innerMain1">
                            <img src="assets/images/adminIcon.jpg" class="adminIcon" alt="">

                            <div class="containerNama">
                                <h3 name="namaDosen" class="namaDosen" ><%= entry.namaD %></h3>
                            </div>

                            <div class="infoAkun">
                                <div class="container1">
                                    <table class="tableInfo">
                                        <tr>
                                            <th>Username : </th>
                                            <td><%= entry.username %></td>
                                        </tr>
                                        <tr>
                                            <th>No Dosen : </th>
                                            <td><%= entry.noDosen %></td>
                                        </tr>
                                        <tr>
                                            <th>Role : </th>
                                            <td><%= entry.roles %></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <br>
                    <div class="paginationPage">
                        <% if(page > 1) { %> <a href="/kelolaAkun?page=<%=page-1%>">Before</a> <% } %>
                        <% for(let i = iteration; i <= ending; i++) { %>
                            <% if(i === page) { %>
                                <a class="selectedLink" href="/kelolaAkun?page=<%=i%>"><%=i%></a>
                                <% continue; %>
                             <% } %>
                                 <a href="/kelolaAkun?page=<%=i%>"><%=i%></a>
                                 <% } %>
                                 <% if(page < numPages) { %> <a href="/kelolaAkun?page=<%=page+1%>">After</a> <% } %>
                    </div>
                </div>
        </div>
    

    </div>

    <footer>
        <%- include('./layout/footer.ejs') %>
    </footer>

    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
          modal.style.display = "block";
        }
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>

</body>
</html>